@using Microsoft.AspNetCore.Identity

@{

}
                    <li class="nav-link" data-url="/Admin/Roles/">
                        <a>
                            <i class='bx bx-id-card icon'></i>
                            <span class="text nav-text">Roles</span>
                        </a>
                    </li>

                    <li class="nav-link" data-url="/Admin/Clients/">
                        <a>
                            <i class='bx bx-group icon' ></i>
                            <span class="text nav-text">Clients</span>
                        </a>
                    </li>

                    <li class="nav-link" data-url="/Admin/Settings/">
                        <a>
                            <i class='bx bx-cog icon' ></i>
                            <span class="text nav-text">Settings</span>
                        </a>
                    </li>

                    <li class="nav-changer" data-url="/Cabinet/_UserNavigateBar/">
                        <a>
                            <i class='bx bx-rotate-left icon'></i>
                            <span class="text nav-text">User Panel</span>
                        </a>
                    </li>

@section Scripts{

}