<!DOCTYPE html>
<html lang="en">
<head>
    
    <link rel="stylesheet" type="text/css" href="~/css/three-dots.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel='stylesheet' type="text/css" href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css'>
    <link rel="stylesheet" type="text/css" href="~/css/site.css">  
    

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>

</head>

<body>

    <nav class="sidebar close">
        <header>
            <div class="image-text">

                <span class="image">
                    <img src="~/Media/cat.png" alt="cat">
                </span>

                <div class="text logo-text">
                    <span class="name">@User.Identity?.Name</span>
                    <span class="profession">Admin</span>
                </div>
            </div>

            <i class='bx bx-chevron-right toggle'></i>
        </header>

        <div class="menu-bar">

            <div class="menu">

                <li class="search-box">
                    <i class='bx bx-search icon'></i>
                    <input type="text" placeholder="Search...">
                </li>

                <ul class="menu-links"></ul>

            </div>

            <div class="bottom-content">

                <li class="nav-item">
                    <form style="height:100%;width:100%"  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <a onclick="this.parentNode.submit();">
                            <i class='bx bx-log-out icon' ></i>
                            <span class="text nav-text">Logout</span>
                        </a>
                    </form>
                </li>

                <li class="mode">

                    <div class="sun-moon">
                        <i class='bx bx-moon icon moon'></i>
                        <i class='bx bx-sun icon sun'></i>
                    </div>

                    <span class="mode-text text">Dark mode</span>

                    <div class="toggle-switch">
                        <span class="switch"></span>
                    </div>

                </li>
                
            </div>

        </div>

    </nav>

    <section class="home">
        @RenderBody()
    </section>

    <script>

        $(document).ready(function () {

            $(".menu-links").load("/Cabinet/_UserNavigateBar");
            console.log('bar successful loaded!');

            $(".menu-links").on("click", ".nav-link", function() {
                console.log("link clicked!")

                var model = $(this);
                var url = model.data("url");

                $(".home").load(model.data("url"));
            });

            $(".menu-links").on("click", ".nav-changer", function() {

                console.log("changer clicked!");

                var model = $(this);
                var url = model.data("url");

                $(".menu-links").load(url);
            });

            const body = document.querySelector('body'),
            sidebar = body.querySelector('nav'),
            toggle = body.querySelector(".toggle"),
            searchBtn = body.querySelector(".search-box"),
            modeSwitch = body.querySelector(".toggle-switch"),
            modeText = body.querySelector(".mode-text");

            toggle.addEventListener("click" , () => 
            {
                sidebar.classList.toggle("close");
            });
        
            searchBtn.addEventListener("click" , () =>
            {
                sidebar.classList.remove("close");
            });
          
            modeSwitch.addEventListener("click" , () =>
            {
                body.classList.toggle("dark");
                if(body.classList.contains("dark"))
                {
                    modeText.innerText = "Light mode";
                }
                else
                {
                    modeText.innerText = "Dark mode";
                }
            });

            console.log('toggle successful installed!');

        })

    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

@section Scripts {

}
