@using Microsoft.AspNetCore.Identity

@{

}

                    <li class="nav-link" data-controller="User" data-action="Dashboard" data-url="/User/Dashboard/" style="cursor: pointer">
                        <a>
                            <i class='bx bx-home-alt icon'></i>
                            <span class="text nav-text">Dashboard</span>
                        </a>
                    </li>

                    <li class="nav-link" data-controller="User" data-action="Charts" data-url="/User/Charts/" style="cursor: pointer">
                        <a>
                            <i class='bx bx-line-chart icon'></i>
                            <span class="text nav-text">Charts</span>
                        </a>
                    </li>

                    <li class="nav-link" data-controller="User" data-action="Analytics" data-url="/User/Analytics/" style="cursor: pointer">
                        <a>
                            <i class='bx bx-pie-chart-alt icon' ></i>
                            <span class="text nav-text">Analytics</span>
                        </a>
                    </li>

                    <li class="nav-link" data-controller="User" data-action="Wallets" data-url="/User/Wallets/" style="cursor: pointer">
                        <a>
                            <i class='bx bx-wallet icon' ></i>
                            <span class="text nav-text">Wallets</span>
                        </a>
                    </li>

                    <li class="nav-link" data-controller="User" data-action="Settings" data-url="/User/Settings/" style="cursor: pointer">
                        <a>
                            <i class='bx bx-cog icon' ></i>
                            <span class="text nav-text">Settings</span>
                        </a>
                    </li>

                    <partial name="_AdminPanelPartial" />

@section Scripts{

}