@{
    ViewData["Title"] = "Chart";
}

<div class="contain" style="height: 95.5vh; margin-right: 35px;">

    <h1 class="headertext">@ViewData["Title"]</h1>
    <br />

<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container" style="height: 98%">
  
    <div id="tradingview_e68c0" style="height: 95%"></div>

      <script type="text/javascript">
          new TradingView.widget(
          {
              "autosize": true,
              "symbol": "BINANCE:BTCUSDT",
              "interval": "1",
              "timezone": "Etc/UTC",
              "theme": "light",
              "style": "0",
              "locale": "ru",
              "toolbar_bg": "#f1f3f6",
              "enable_publishing": false,
              "withdateranges": true,
              "allow_symbol_change": true,
              "hotlist": true,
              "show_popup_button": true,
              "popup_width": "1000",
              "popup_height": "650",
          }
          );
      </script>
</div>
<!-- TradingView Widget END -->

</div>