@{
    ViewData["Title"] = "Dashboard";
}

<style>
    .grid-container {
      display: grid;
      gap: 25px;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      background-color: #2196F3;
    }

    .grid-item {
      background-color: rgba(255, 255, 255, 0.8);
      border: 1px solid rgba(0, 0, 0, 0.8);
      text-align: center;
    }
</style>

<div class="contain" style="margin-right: 80px">

    <h1 class="headertext">@ViewData["Title"]</h1>

    <div class="grid-container" id="charts">
        <div class="grid-item"><canvas id="bar"></canvas></div>
        <div class="grid-item"><canvas id="line"></canvas></div>
        <div class="grid-item"><canvas id="scatter"></canvas></div>
        <div class="grid-item"><canvas id="pie"></canvas></div>
    </div>

</div>

<script type ="text/javascript">

        var scatter = new Chart(document.getElementById("scatter"), {
          type: 'scatter',
          data: [{
                x: 10,
                y: 20
            }, {
                x: 15,
                y: 10
            }],
          options: {
            scales: {
              x: {
                type: 'linear',
                position: 'bottom'
              }
            }
          }
        });
        
    var line = new Chart(document.getElementById("line"), {
          type: "line",
          data: { labels: ['January', 'February', 'March', 'April', 'May', 'June',],
            datasets: [
                {
                  label: 'My First dataset',
                  backgroundColor: 'rgb(255, 99, 132)',
                  borderColor: 'rgb(255, 99, 132)',
                  data: [0, 10, 5, 2, 20, 30, 45],
                }]
          },
          options: {}
        });

    var bar = new Chart(document.getElementById("bar"), {
          type: "bar",
          data: {},
          options: {}
        });

    var pie = new Chart(document.getElementById("pie"), {
          type: "pie",
          data: {},
          options: {}
        });

</script>