@{
    ViewData["Title"] = "Wallets";
}

<div class="contain">

    <h1 class="headertext">@ViewData["Title"]</h1>
    
    <p class="maintext">Current value: 5356$</p>
    
    <p class="maintext">Statistic </p>
    <div id="chart"></div>

</div>

<script type="text/javascript">

    const _object = document.getElementById("chart")
    const chart = LightweightCharts.createChart(_object, { width: 700, height: 400 });
    const lineSeries = chart.addLineSeries();
    lineSeries.setData([
        { time: '2019-04-11', value: 80.01 },
        { time: '2019-04-12', value: 96.63 },
        { time: '2019-04-13', value: 176.64 },
        { time: '2019-04-14', value: 81.89 },
        { time: '2019-04-15', value: 274.43 },
        { time: '2019-04-16', value: 280.01 },
        { time: '2019-04-17', value: 396.63 },
        { time: '2019-04-18', value: 76.64 },
        { time: '2019-04-19', value: 481.89 },
        { time: '2019-04-20', value: 574.43 },

        { time: '2019-04-21', value: 1180.01 },
        { time: '2019-04-22', value: 596.63 },
        { time: '2019-04-23', value: 3476.64 },
        { time: '2019-04-24', value: 3846.89 },
        { time: '2019-04-25', value: 3474.43 },
        { time: '2019-04-26', value: 2180.01 },
        { time: '2019-04-27', value: 4255.63 },
        { time: '2019-04-28', value: 4386.64 },
        { time: '2019-04-29', value: 3481.89 },
        { time: '2019-04-30', value: 5083.43 },

        { time: '2019-05-01', value: 1180.01 },
        { time: '2019-05-02', value: 596.63 },
        { time: '2019-05-03', value: 3476.64 },
        { time: '2019-05-04', value: 3846.89 },
        { time: '2019-05-05', value: 3474.43 },
        { time: '2019-05-06', value: 2180.01 },
        { time: '2019-05-07', value: 4755.63 },
        { time: '2019-05-08', value: 4386.64 },
        { time: '2019-05-09', value: 3481.89 },
        { time: '2019-05-10', value: 5683.43 },
    ]);

</script>
