html {
    font-size: 25px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    font-family: 'Bebas Neue', cursive;
    font-size: 25px;
    color: black;
    height: 100vh;
    background: linear-gradient(#FFFFFF, #4A11AE);
    border: 5px solid darkblue;
}

.navbar-custom {
    background: linear-gradient(#FFFFFF, #4A11AE);
}
