@using Microsoft.AspNetCore.Identity

@{

}

<!-- Modal -->
        <div class="modal fade bd-example-modal-lg" id="DetailsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">

                <label id="IdLabel">ID: </label><span id="IdContent"></span><br>

                <label id="UsernameLabel">Username: </label><span id="UsernameContent"></span><br>

                <label id="EmailLabel">Email: </label><span id="EmailContent"></span><br>
                <label id="EmailConfirmedLabel">Email Confirmed: </label><span id="EmailConfirmedContent"></span><br>

                <label id="PhonenumberLabel">Phone number: </label><span id="PhonenumberContent"></span><br>
                <label id="PhonenumberConfirmedLabel">Phone number Confirmed: </label><span id="PhonenumberConfirmedContent"></span><br>

              </div>
              <div class="modal-footer">
                <button id="btnDetailsClose" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

@section Scripts{

}