@using Microsoft.AspNetCore.Identity

@{

}

<!-- Modal -->
        <div class="modal fade" id="EditModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>

              <div class="modal-body">

                  <div class="form-group">
                    <label>Username: </label>
                    <input type="text" class="form-control" id="currentUsername" aria-describedby="emailHelp" placeholder="Enter username">
                  </div>

                  <div class="form-group">
                    <label>Email address: </label>
                    <input type="email" class="form-control" id="currentEmail" aria-describedby="emailHelp" placeholder="Enter email">
                  </div>

                  <div class="form-group">
                    <label>Phone number: </label>
                    <input type="text" class="form-control" id="currentPhonenumber" placeholder="Enter phone number">
                  </div>

                  <div class="form-group">
                    <label>Set new role: </label>
                  </div>

              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button id="btnSaveProperties" type="button" class="btn btn-primary" data-bs-dismiss="modal">Save changes</button>
              </div>
            </div>
          </div>
        </div>

@section Scripts{

}