@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.Rendering;
@using Microsoft.AspNetCore.Mvc.Infrastructure;
@using MVCAppWebIdent.Models;

@{
    ViewData["Title"] = "Clients";
}

<div class="contain">

    <h1 class="headertext">Clients</h1>
    <p>Here you can manage roles and edit account information!</p>
    <br />

    <!-- Finder Block -->
    <div class="finder" style="display: inline-block">
        <select id="selector" asp-items=@ViewBag.select></select>
        <button id="btnSearch" type="submit" class="btn btn-success" style="margin-left: 10px">Submit</button>
    </div>

    <div id="table" style="margin-top: 50px"></div>

    <!-- Edit Modal -->
    <div id="PopUpEditModal">
    
        <partial name="_PopUpEditRoleModelPartial", model="Model" />
    
    </div>

    <div id="PopUpDetailsModal">

        <partial name="_PopupDetailsRoleModelPartial", model="Model" />

    </div>

    <!-- Delete Modal -->

    <div id="PopUpDeleteModal">
    
        <partial name="_PopUpDeleteRoleModelPartial", model="Model" />
    
    </div>

    <div id="PopUpDeleteModal">
    
        <partial name="_PopUpSetRoleModelPartial", model="Model" />
    
    </div>

</div>

<script>

        $(document).ready(function () 
        {

            $(".finder").on("click", "#btnSearch", function(event)
            {
                console.log("search clicked!");
                $("#table").load("/Admin/GetTablePartialView", { roleName: $("#selector").val() });
                $('#clientsTable').DataTable(); 
                console.log("loaded!");
            });

            $(document).on("show.bs.modal", "#SetModal", function(event) {

                console.log("set clicked!");

                $("#setterRole").load("/Admin/_SelectPartialView/");

                var button = $(event.relatedTarget);
                var recipient = button.data('internalid');

                var rolename = $("#popupselector").val();

                console.log(recipient, " ", rolename);

                $(document).one('click', "#ConfirmSetDialog", function()
                {
                    console.log(recipient, " ", rolename);
                    $.ajax(
                    {
                        type: "POST",
                        url: "/Admin/SetRole/",
                        data: { userid: recipient, roleName: rolename },
                        dataType: 'json',
                        error: function () { console.log("not success"); },
                        success: function (result) 
                        { 
                            $("#table").load("/Admin/GetTablePartialView", { roleName: $("#selector").val() }); 
                            console.log(result) 
                        }
                    });

                });
            })


            $(document).on("show.bs.modal", "#DeleteModal", function(event)
            {

                console.log("Delete clicked!");

                var button = $(event.relatedTarget);

                var recipient = button.data('internalid');
                var modal = $(this);

                modal.find('.modal-title').text('Delete');

                $(document).one('click', "#ConfirmDeleteDialog", function()
                {
                    $.ajax(
                    {
                        type: "POST",
                        url: "@Url.Action("DeleteAccountByID", controller: "Admin")",
                        data: { id: recipient },
                        dataType: 'json',
                        error: function () { console.log("not success"); },
                        success: function (result) { $("#table").load("/Admin/GetTablePartialView", { roleName: $("#selector").val() }); }
                    });

                });
            });
                
            $(document).on("show.bs.modal", "#DetailsModal", function(event)
            {

                console.log("Details clicked!");

                var button = $(event.relatedTarget);
                var recipient = button.data('internalid');

                var modal = $(this);

                modal.find('.modal-title').text('Details : ' + recipient);

                $.ajax(
                    {
                        type: 'GET',
                        url: "@Url.Action("GetAccountByID", controller: "Admin")",
                        data: { id: recipient },
                        dataType: 'json',
                        error: function () { console.log("not success"); },
                        success: function (result) 
                        {

                            console.log("success got account! : ", result);

                            modal.find('span#IdContent').text(result["id"]);
                            modal.find('span#UsernameContent').text(result["username"]);
                            modal.find('span#EmailContent').text(result["email"]);
                            modal.find('span#EmailConfirmedContent').text(result["emailConfirmed"]);
                            modal.find('span#PhonenumberContent').text(result["phonenumber"]);
                            modal.find('span#PhonenumberConfirmedContent').text(result["phonenumberConfirmed"]);

                            console.log("loaded labels!");
                        }
                    });
            });

            $(document).on("show.bs.modal", "#EditModal", function(event)
            {
                console.log("Edit clicked!");

                var button = $(event.relatedTarget);
                var recipient = button.data('internalid'); 
                var modal = $(this);
                
                modal.find('.modal-title').text('Edit ' + recipient);

                $.ajax(
                    {
                        type: 'GET',
                        url: "@Url.Action("GetAccountByID", "Admin")",
                        data: { id: recipient },
                        dataType: 'json',
                        error: function () { console.log("not success"); },
                        success: function (result) 
                        {
                            console.log("success got account! : ", result);

                            modal.find('#currentUsername').val(result["username"]);
                            modal.find('#currentEmail').val(result["email"]);
                            modal.find('#currentEmailConfirmed').val(result["emailconfirmed"]);
                            modal.find('#currentPhonenumber').val(result["phonenumber"]);
                            modal.find('#currentPhonenumberConfirmed').val(result["phonenumberconfirmed"]);

                            $(document).one('click', "#btnSaveProperties", function()
                            {
                                console.log("button was clicked!")

                                var model = { 
                                    Id: recipient, 
                                    Username: $("#currentUsername").val(),
                                    Email: $("#currentEmail").val(), 
                                    Phonenumber: $("#currentPhonenumber").val()
                                    
                                };

                                $.ajax(
                                {
                                    type: "POST",
                                    url: "@Url.Action("SaveProperties", controller: "Admin")",
                                    data: JSON.stringify(model),
                                    dataType: 'json',
                                    contentType: "application/json",
                                    error: function () { console.log("not success"); },
                                    success: function (result) 
                                    {
                                        console.log("success request! : ", result);
                                        $("#table").load("/Admin/GetTablePartialView", { roleName: $("#selector").val() });
                                    }
                                });
                            })
                        }
                    });
            });
        })

    </script>

@section Scripts{

}
