@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.Rendering;
@using Microsoft.AspNetCore.Mvc.Infrastructure;
@using MVCAppWebIdent.Models;

@{
    ViewData["Title"] = "Clients";
}

<div class="contain">

    <h1 class="headertext">Clients</h1>
    <p>Here you can manage roles and edit account information!</p>
    <br />

    <!-- Finder Block -->
    <div class="finder" style="display: inline-block">
        <select id="selector" asp-items=@ViewBag.select></select>
        <br /><button id="btnSearch" type="submit" class="btn-light">Submit</button>
    </div>
    <br />

    <div id="table"></div>

    <!-- Edit Modal -->
    <div id="PopUpEditModal">
    
        <partial name="_PopUpEditRoleModelPartial", model="Model" />
    
    </div>

    <div id="PopUpDetailsModal">

        <partial name="_PopupDetailsRoleModelPartial", model="Model" />

    </div>

    <!-- Delete Modal -->

    <div id="PopUpDeleteModal">
    
        <partial name="_PopUpDeleteRoleModelPartial", model="Model" />
    
    </div> 

</div> 



@section Scripts{

    <script>

        $(document).ready(function () 
        {
            $("#btnSearch").click(function () 
            {
                $("#table").load("/Admin/GetTablePartialView", { roleName: $("#selector").val() });
                $('#clientsTable').DataTable(); 
            });
        });

    </script> 

    <script>

        $(document).ready(function () {

            $('#EditModal').on('show.bs.modal', function (event) 
            {
                var button = $(event.relatedTarget);
                var recipient = button.data('internalid'); 
                var modal = $(this);
                
                modal.find('.modal-title').text('Edit ' + recipient);

                $.ajax(
                    {
                        type: 'GET',
                        url: "@Url.Action("GetAccountByID", controller: "Admin")",
                        data: { id: recipient },
                        dataType: 'json',
                        error: function () { console.log("not success"); },
                        success: function (result) 
                        {

                            console.log("success got account! : ", result);

                            modal.find('#currentEmail').val(result["email"]);
                            modal.find('#currentPassword').val(result["password"]);

                            $("#btnSaveProperties").one('click', function() 
                            {
                                console.log("button was clicked!")

                                var model = { 
                                    Id: recipient, 
                                    Email: $("#currentEmail").val(), 
                                    Password: $("#currentPassword").val() 
                                };

                                $.ajax(
                                {
                                    type: "POST",
                                    url: "@Url.Action("SaveProperties", controller: "Admin")",
                                    data: JSON.stringify(model),
                                    dataType: 'json',
                                    contentType: "application/json",
                                    error: function () { console.log("not success"); },
                                    success: function (result) 
                                    {
                                        console.log("success request! : ", result);
                                        $("#table").load("/Admin/GetTablePartialView", { roleName: $("#selector").val() });
                                    }
                                });
                            })

                        }
                    });

            });
        })

    </script>

    <script>

        $(document).ready(function () 
        {
            $('#DeleteModal').on('show.bs.modal', function (event) 
            {
                var button = $(event.relatedTarget); // Button that triggered the modal
                var recipient = button.data('internalid'); // Extract info from data-* attributes
                //console.log(recipient);  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
                // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
                var modal = $(this);
                modal.find('.modal-title').text('Delete');

                $("#ConfirmDeleteDialog").click(function() {

                    $.ajax(
                    {
                        type: "POST",
                        url: "@Url.Action("DeleteAccountByID", controller: "Admin")",
                        data: { id: recipient },
                        dataType: 'json',
                        error: function () { console.log("not success"); },
                        success: function (result) 
                        {
                            $(".modal").on("hidden.bs.modal", function()
                            {
                                $("#table").load("/Admin/GetTablePartialView", { roleName: $("#selector").val() });
                            });
                        }
                    });

                });
            });

        });

    </script>
    
    <script>

        $(document).ready(function () 
        {
            $('#DetailsModal').on('show.bs.modal', function (event) 
            {
                var button = $(event.relatedTarget); // Button that triggered the modal
                var recipient = button.data('internalid'); // Extract info from data-* attributes
                //console.log(recipient);  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
                // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
                var modal = $(this);

                modal.find('.modal-title').text('Details : ' + recipient);

                $.ajax(
                    {
                        type: 'GET',
                        url: "@Url.Action("GetAccountByID", controller: "Admin")",
                        data: { id: recipient },
                        dataType: 'json',
                        error: function () { console.log("not success"); },
                        success: function (result) 
                        {

                            console.log("success got account! : ", result);

                            modal.find('label#IdContent').text(result["id"]);
                            modal.find('label#EmailContent').text(result["email"]);
                            modal.find('label#PhonenumberContent').text(result["phonenumber"]);
                            modal.find('label#PasswordContent').text(result["password"]);

                            console.log("loaded labels!");

                            

                        }
                    });
            });

        });

    </script> 

}
