@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.Rendering;
@using Microsoft.AspNetCore.Mvc.Infrastructure;
@using MVCAppWebIdent.Models;

@{
    ViewData["Title"] = "Roles";
}

<html>

    <head>
        <link rel="stylesheet" href="~/css/_RoleStyle.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    </head>

    <body>

        <!-- Finder Block -->
        <div>
            <select id="selector" asp-items=@ViewBag.select></select>
            <br /><button id="btnSearch" type="submit" class="btn-light">Submit</button>
        </div>

        <div id="table"></div>

        <!-- Edit Modal -->
        <div id="PopUpEditModal">
            <partial name="_PopUpEditRoleModelPartial", model="Model" />
        </div>

        <!-- Delete Modal -->
        <div id="PopUpDeleteModal">
            <partial name="_PopUpDeleteRoleModelPartial", model="Model" />
        </div>

    </body>

</html>

@section Scripts{

    <script>

        $(document).ready(function () 
        {
            $("#btnSearch").click(function () {
                $("#table").load("/Admin/GetTablePartialView", { roleName: $("#selector").val() });
            });
        });

    </script> 

    <script>

        $(document).ready(function () {

            $('#EditModal').on('show.bs.modal', function (event) 
            {
                var button = $(event.relatedTarget); // Button that triggered the modal
                var recipient = button.data('internalid'); // Extract info from data-* attributes
                //console.log(recipient);  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
                  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
                var modal = $(this);
                modal.find('.modal-title').text('Edit ' + recipient);

                $.ajax(
                    {
                        type: 'GET',
                        url: "@Url.Action("GetAccountByID", controller: "Admin")",
                        data: { id: recipient },
                        dataType: 'json',
                        error: function () { console.log("not success"); },
                        success: function (result) 
                        {

                            console.log("success: ", result);

                            modal.find('#currentEmail').val(result["email"]);
                            modal.find('#currentPassword').val(result["password"]);

                            var saveModel = { Id: recipient, Email: result["email"], result["password"] };

                            $("#btnSaveProperties").click(function() 
                            {

                                var model = { Id: recipient, Email: result["email"], Password: result["password"] };

                                $.ajax(
                                {
                                    type: "POST",
                                    url: "@Url.Action("SaveProperties", controller: "Admin")",
                                    data: JSON.stringify(model),
                                    dataType: 'json',
                                    error: function () { console.log("not success"); },
                                    success: function (result) 
                                    {
                                        $(".modal").on("hidden.bs.modal", function()
                                        {
                                            $("#table").load("/Admin/GetTablePartialView", { roleName: $("#selector").val() });
                                        });
                                    }
                                });
                            }

                        }
                    });

            });
        })

    </script>

    <script>

        $(document).ready(function () 
        {
            $('#DeleteModal').on('show.bs.modal', function (event) 
            {
                var button = $(event.relatedTarget); // Button that triggered the modal
                var recipient = button.data('internalid'); // Extract info from data-* attributes
                //console.log(recipient);  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
                // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
                var modal = $(this);
                modal.find('.modal-title').text('Delete');

                $("#ConfirmDeleteDialog").click(function() {

                    $.ajax(
                    {
                        type: "POST",
                        url: "@Url.Action("DeleteAccountByID", controller: "Admin")",
                        data: { id: recipient },
                        dataType: 'json',
                        error: function () { console.log("not success"); },
                        success: function (result) 
                        {
                            $(".modal").on("hidden.bs.modal", function()
                            {
                                $("#table").load("/Admin/GetTablePartialView", { roleName: $("#selector").val() });
                            });
                        }
                    });

                });
            });

        });

    </script>   

}
