@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.Rendering;
@using Microsoft.AspNetCore.Mvc.Infrastructure;
@using MVCAppWebIdent.Models;

@{
    ViewData["Title"] = "Clients";
}

<div class="contain">

    <h1 class="headertext">Clients</h1>
    <p>Here you can manage roles and edit account information!</p>
    <br />

    <!-- Finder Block -->
    <div class="finder" style="display: inline-block">
        <select id="selector" asp-items=@ViewBag.select></select>
        <button id="btnSearch" type="submit" class="btn-light">Submit</button>
    </div>

    <br />
    <br />

    <div id="table"></div>

    <!-- Edit Modal -->
    <div id="PopUpEditModal">
    
        <partial name="_PopUpEditRoleModelPartial", model="Model" />
    
    </div>

    <div id="PopUpDetailsModal">

        <partial name="_PopupDetailsRoleModelPartial", model="Model" />

    </div>

    <!-- Delete Modal -->

    <div id="PopUpDeleteModal">
    
        <partial name="_PopUpDeleteRoleModelPartial", model="Model" />
    
    </div>

    <script>

        $(document).ready(function () {

            $(document).on("click", "#btnSearch", function(event)
            {
                console.log("search clicked!");
                $("#table").load("/Admin/GetTablePartialView", { roleName: $("#selector").val() });
                $('#clientsTable').DataTable(); 
                console.log("loaded!");
            });


            $(document).on("show.bs.modal", "#DeleteModal", function(event)
            {

                console.log("Delete clicked!");

                var button = $(event.relatedTarget);

                var recipient = button.data('internalid');
                var modal = $(this);

                modal.find('.modal-title').text('Delete');

                $("#ConfirmDeleteDialog").click(function() 
                {
                    $.ajax(
                    {
                        type: "POST",
                        url: "@Url.Action("DeleteAccountByID", controller: "Admin")",
                        data: { id: recipient },
                        dataType: 'json',
                        error: function () { console.log("not success"); },
                        success: function (result) { $("#table").load("/Admin/GetTablePartialView", { roleName: $("#selector").val() }); }
                    });

                });
            });
                
            $(document).on("show.bs.modal", "#DetailsModal", function(event)
            {

                console.log("Details clicked!");

                var button = $(event.relatedTarget);
                var recipient = button.data('internalid');

                var modal = $(this);

                modal.find('.modal-title').text('Details : ' + recipient);

                $.ajax(
                    {
                        type: 'GET',
                        url: "@Url.Action("GetAccountByID", controller: "Admin")",
                        data: { id: recipient },
                        dataType: 'json',
                        error: function () { console.log("not success"); },
                        success: function (result) 
                        {

                            console.log("success got account! : ", result);

                            modal.find('label#IdContent').text(result["id"]);
                            modal.find('label#EmailContent').text(result["email"]);
                            modal.find('label#PhonenumberContent').text(result["phonenumber"]);
                            modal.find('label#PasswordContent').text(result["password"]);

                            console.log("loaded labels!");

                            

                        }
                    });
            });

            $(document).on("show.bs.modal", "#EditModal", function(event)
            {

                console.log("Edit clicked!");

                var button = $(event.relatedTarget);
                var recipient = button.data('internalid'); 
                var modal = $(this);
                
                modal.find('.modal-title').text('Edit ' + recipient);

                $.ajax(
                    {
                        type: 'GET',
                        url: "@Url.Action("GetAccountByID", controller: "Admin")",
                        data: { id: recipient },
                        dataType: 'json',
                        error: function () { console.log("not success"); },
                        success: function (result) 
                        {

                            console.log("success got account! : ", result);

                            modal.find('#currentEmail').val(result["email"]);
                            modal.find('#currentPassword').val(result["password"]);

                            $(document).one('click', "#btnSaveProperties", function()
                            {

                                console.log("button was clicked!")

                                var model = { 
                                    Id: recipient, 
                                    Email: $("#currentEmail").val(), 
                                    Password: $("#currentPassword").val() 
                                };

                                $.ajax(
                                {
                                    type: "POST",
                                    url: "@Url.Action("SaveProperties", controller: "Admin")",
                                    data: JSON.stringify(model),
                                    dataType: 'json',
                                    contentType: "application/json",
                                    error: function () { console.log("not success"); },
                                    success: function (result) 
                                    {
                                        console.log("success request! : ", result);
                                        $("#table").load("/Admin/GetTablePartialView", { roleName: $("#selector").val() });
                                    }
                                });
                            })
                        }
                    });
            });
        })

    </script>

</div>

@section Scripts{

}
