@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.Rendering;
@using Microsoft.AspNetCore.Mvc.Infrastructure;
@using MVCAppWebIdent.Models;

@{
    ViewData["Title"] = "Clients";
}

<style> 

</style>

<div class="contain">

    <h1 class="headertext">Roles</h1>
    <p>Here you can manage roles!</p>

    <div class="finder" style="display: inline-block">
        <input id="inputAddRole"></input>
        <button id="btnAddRole" class="btn btn-success" style="margin-left:10px; width:75px;">Add</button>
    </div>

    <div id="RoleTable" style="margin-top: 50px"></div>

    <div id="PopUpDeleteModal">
        <partial name="_PopUpDeleteRoleModelPartial", model="Model" />
    </div>

</div>

<script>

    function LoadRoleTable(){$("#RoleTable").load("/Admin/GetRolesTablePartialView/");};

        $(document).ready(function () 
        {
            LoadRoleTable();

            $(".contain").on("click", "#btnAddRole", function()
            {
                $.ajax(
                    {
                        type: "POST",
                        url: "@Url.Action("AddRole", "Admin")",
                        data: { roleName: $("#inputAddRole").val() },
                        dataType: 'json',
                        error: function () { console.log("not success"); },
                        success: function (result) { LoadRoleTable(); console.log("successful Added!", result); }
                    });
            });

            $(".contain").on("click", ".btn-danger", function() 
            {
                var model = $(this);
                var data = model.data("internalid");

                console.log(data);
                $(".contain").one("click", "#ConfirmDeleteDialog", function() 
                {
                    $.ajax(
                        {
                            type: "POST",
                            url: "/Admin/DeleteRole/",
                            data: { id: data },
                            dataType: 'json',
                            error: function() { console.log("delete not success") },
                            success: function (result) { LoadRoleTable(); console.log("successful Delete!", result); }
                        });
                });
            });

        });

</script>

@section Scripts{

}
