<html>

    <head>

        <link rel="stylesheet" href="~/css/Home.css" />

        <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
        
    </head>


    <body>

        <div class="banner">

            <video class="back-video" autoplay loop muted plays-inline>
                <source src="~/Media/background.mp4" type="video/mp4" />
            </video>

            <nav>
                <ul>
                    <li class="custombutton"><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="custombutton"><a asp-controller="Home" asp-action="About">About</a></li>
                </ul>
                <partial name="_LoginPartial" />
            </nav>

            <div class="content">
                @RenderBody()
            </div>

        </div>

        @await RenderSectionAsync("Scripts", required: false)

    </body>

</html>

@section Scripts {

}