<html>

    <head>

        <link rel="stylesheet" href="~/css/homeStyle.css" />

        <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
        
    </head>


    <body>

        <div class="banner">

            <video class="back-video" autoplay loop muted plays-inline>
                <source src="~/Media/background.mp4" type="video/mp4" />
            </video>

            <nav>
                <ul>
                    <li class="custombutton" data-url="/Home/Home/" style="cursor: pointer;"><a>Home</a></li>
                    <li class="custombutton" data-url="/Home/About/" style="cursor: pointer;"><a>About</a></li>
                </ul>
                <partial name="_LoginPartial" />
            </nav>

            <div class="content">
                @RenderBody()
            </div>

        </div>

        @await RenderSectionAsync("Scripts", required: false)

        <script>

            $(document).ready(function() 
            {
                console.log("ready")
                $(".content").load("/Home/Home/");

                $(document).on("click", ".custombutton", function() 
                {
                    console.log("click!");
        
                    var model = $(this);
                    $(".content").load(model.data("url"));
                });
            });

        </script>

    </body>

</html>

@section Scripts {

}