<html>

    <header>

        <link rel="stylesheet" href="~/css/homeLayout.css" />

    </header>


    <body>

        <div class="banner">

            <video class="back-video" autoplay loop muted plays-inline>
                <source src="~/Media/background.mp4" type="video/mp4" />
            </video>

            <nav>
                <ul>
                    <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-controller="Home" asp-action="About">About</a></li>
                </ul>
                <partial name="_LoginPartial" />
            </nav>

            <div class="content">
                @RenderBody()
            </div>

        </div>

        @await RenderSectionAsync("Scripts", required: false)

    </body>

</html>