@{
    ViewData["Title"] = "Home Page";
}

<html>

    <head>
        <title>Stock Market</title>
        <link rel="stylesheet" href="~/css~/css/MainPageStyle.css" />
    </head>

    <body>

    </body>

    <style type="text/css">
        body{
            background-image: url("../Media/1.jpg");
            background-size: cover;
            background-repeat: no-repeat;
        }
    </style>

</html>