@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


@if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
{
    <li class="nav-changer" data-url="/Cabinet/_AdminNavigateBar/" style="cursor: pointer">
        <a>
            <i class='bx bx-bug icon'></i>
            <span class="text nav-text">Admin Panel</span>
        </a>
    </li>
}
